{% extends "base.html" %}

{% load static %}
{% block contenido %}

<div class="container">
    <div class="encabezado" style="background: hsla(295, 71%, 71%, 0.884); text-align: center;">
        <img class="mb-5" src="{% static '/img/to-do-list.png' %}" width="20%">
        <h1 class="">Kalinka</h1>
    </div>
    <div class="text-justify">
        <p>Kalinka nace como un proyecto de prática realizado con el simple propósito de tener una pequeña aplicación funcional. No pretende ser un producto comercial ni mucho menos.</p>
        <p>Consiste en tablero para la gestión de tareas personales. Todas las funcionalidades fueron definidas por por una persona agena al proyecto, quien me aguantó varias horas hablando de códigos.</p>
        <p>Este proyecto está desarrollado con el framework Django y utilizando simplemente una DB SQlite</p>
    </div>
    <div class="blockquote-footer fixed-bottom text-center">
        <p><small>Kalinka es un producto original de <a href="https://github.com/lucrohatsch">lucrohatsch</a> </small></p>
    </div>
</div>

{% endblock %}