{% extends "base.html" %}

{% load static %}
{% block contenido %}

<div class="container-fluid">

    <div class="row align-items-center shadow rounded-3 d-flex" style="background: hsla(295, 94%, 73%, 0.729); text-align: center;">
        <div class="col text-start fw-light">
            <h1 class="display-2 text-center">Kalinka</h1>
            <p>Kalinka nace como un proyecto de prática realizado con el simple propósito de tener una pequeña aplicación funcional. No pretende ser un producto comercial ni mucho menos.</p>
            <p>Consiste en tablero para la gestión de tareas personales. Todas las funcionalidades fueron definidas por por una persona agena al proyecto, quien me aguantó varias horas hablando de códigos.</p>
            <p>Este proyecto está desarrollado con el framework Django y utilizando un ambiente dockerizado con una base de datos postgesql</p>
        </div>

        <div class="col"> 
            <img src="{% static '/img/kalinka_landing.png' %}">
            
        </div>
    </div>

    <div class="blockquote-footer fixed-bottom text-center">
        <p><small>Kalinka es un producto original de <a href="https://github.com/lucrohatsch">lucrohatsch</a> </small></p>
    </div>
    
</div>

{% endblock %}